* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
    font-size: large;
  }
  
  nav .Logo img {
    width: 100px;
  }
  
  nav .Links a {
    padding: 20px;
    text-decoration: none;
    color: black;
  }
  
  nav .Links a:hover {
    font-weight: bold;
  }
  