<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LearnVishwa</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/Homepage.css' %}" />
  </head>

  <body>
    {% include 'Navbar.html' %}

    <main class="hero">
      <div class="heroLeft">
        <div class="heroBadge">🎓 India's Student Project Repository</div>

        <h1>
          Learn from
          <span>Real Projects</span>
          Built by Students.
        </h1>

        <p>
          Discover hundreds of academic projects, watch complete implementation
          videos, explore source code, and upload your own work to inspire
          thousands of students across colleges.
        </p>

        <div class="heroButtons">
          <a href="/Upload/" class="primaryBtn"> Upload Project </a>

          <a href="/Repository/" class="secondaryBtn"> Browse Library </a>
        </div>
      </div>

      <div class="heroRight">
        <img
          src="{% static 'img/homePageBackGround.jpg' %}"
          alt="Project Library"
        />
      </div>
    </main>
  </body>
</html>
