{% load static %}

<link rel="stylesheet" href="{% static 'css/Navbar.css' %}" />

<header class="navbar-wrapper">
  <nav class="navbar">
    <a href="/" class="logo">
      <span class="logo-primary">Learn</span>
      <span class="logo-secondary">Vishwa</span>
    </a>

    <div class="nav-links">
      <a href="/" class="nav-link">Home</a>

      <a href="/About/" class="nav-link">About</a>

      {% if user.is_authenticated %}

      <a href="/Upload/" class="nav-link">Upload</a>

      <a href="/Repository/" class="nav-link">Repository</a>

      <a href="/logout/" class="btn-logout"> Logout </a>

      {% else %}

      <a href="/Login/" class="nav-link"> Login </a>

      <a href="/Register/" class="btn-signup"> Sign Up </a>

      {% endif %}
    </div>
  </nav>
</header>
