<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    {% load static %}
    <link rel="shortcut icon" href={%static 'img/favicon.png'%} type="image/x-icon">
    <link rel="stylesheet" href={%static 'css/password_reset_complete.css'%}>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
           <a href="/"><img src={%static 'img/Borcelle.png'%} alt=""></a>
        </div>
        <div class="link">
            <a href="/">Home</a>
            <a href="/About/">About</a>
            <a href="/Login/">Login</a>
            <a href="/Register/">Signup</a>
        </div>
    </nav>
    <div class="card">
    <h1>Password Reset Complete</h1>
    <p>Your password has been successfully reset. You can now <a href="/Login/">log in</a> with your new password.</p>
</div>
    <div class="custom-shape-divider-bottom-1736520294">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <!-- Define Gradient -->
            <defs>
                <linearGradient id="gradient-fill" x1="0%" y1="0%" x2="100%" y2="100%">
                    <stop offset="0%" stop-color="#000046" />
                    <stop offset="100%" stop-color="#1CB5E0" />
                </linearGradient>
            </defs>
            
            <!-- Custom Shape with Gradient Fill -->
            <path d="M1200,0H0V120H281.94C572.9,116.24,602.45,3.86,602.45,3.86h0S632,116.24,923,120h277Z" fill="url(#gradient-fill)" class="shape-fill"></path>
        </svg>

    
</body>
</html>

