*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.custom-shape-divider-bottom-1736520294 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg); /* Flips the shape vertically */
    z-index: -1;
}

.custom-shape-divider-bottom-1736520294 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px); /* Ensures the shape stretches beyond the screen */
    height: 900px; /* Adjusts the height of the shape */
}

.custom-shape-divider-bottom-1736520294 .shape-fill {
    fill: url(#gradient-fill); /* Corrected gradient URL reference */
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}

.navbar .logo img{
    width: 200px;
    height: auto;
}

.navbar .link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  margin-right: 20px;
}

.navbar .link a{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.navbar .link a:hover{
    color: #ffbf57;
}

.card{
    text-align: center;
    justify-content: center;
    align-items:center;
    color: white;
    margin-top: 300px;
}

.card a{
    text-decoration: none;
    color: #ffbf57
}

.card a:hover{
    text-decoration: underline;
    color:#ff9f31;;
}